@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(-30deg, #1abc9c 0%, #008080 50%, #262626 50%, #607d8b 100% );
	filter: hue-rotate(120deg);
	animation: animate 10s linear infinite;
}
@keyframes animate{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
	}
}
.box{
	position: relative;
	padding: 50px;
	width: 500px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.1);
	border-radius: 10px;
	box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}
.box::after{
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 8px;
	pointer-events: none;
	background: linear-gradient(to bottom, rgba(255,255,255,0.3)0%,
		rgba(255,255,255,0.2) 15%, transparent, transparent 85%, 
		rgba(255,255,255,0.3)100%);
}
form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 5rem;
	overflow: hidden;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	transition: 0.2s 0.7s ease-in-out;
}
form h2{
	color: #f0f0f0;
}
.input-field{
	max-width: 380px;
	height: 55px;
	background-color: #f0f0f0;
	margin: 10px 0;
	border-radius: 55px;
	display: grid;
	grid-template-columns: 15% 85%;
	padding: 0 .4rem;
}
.input-field i{
	text-align: center;
	line-height: 55px;
	color: #acac;
	transition: 0.5s;
	font-size: 1.1rem;
}
.input-field input{
	background: none;
	outline: none;
	border: none;
	line-height: 1;
	font-weight: 600;
	font-size: 1.1rem;
	color: #333;
}
.input-field input::placeholder{
	color: #aaa;
	font-weight: 500;
}
.btn{
	width: 150px;
	height: 49px;
	border: none;
	outline: none;
	border-radius: 49px;
	cursor: pointer;
	background-color: #008080;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	transition: 0.5s;
}
.btn:hover{
	background-color: #1abc9c;
}